.wrapper {
  width: 300px;
  height: 200px;

  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
  border-radius: 20px;

  position: absolute;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;

  width: 280px;
  height: 180px;
}

.image {
  width: 180px;
  height: 180px;
}

.text {
  width: 90px;
  height: 180px;
}

.close {
  width: 10px;
  height: 10px;
}