.productsCounter {
  width: 659px;
  height: 32px;

  font-family: 'Nunito', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;

  margin: 20px 0 20px 0;
  &__end {
    font-weight: 500;
  }
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;

  width: 312px;
  height: 257px;

  box-shadow: 0 0 1px rgba(40, 41, 61, 0.02), 0 2px 16px rgba(96, 97, 112, 0.16);
  border-radius: 20px;
  &__title {
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }
  &__line {
    display: flex;
    justify-content: space-between;
  }
  &__tagName {
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7B8E98;
  }
}

.price {
  display: flex;
  justify-content: space-between;
}

.price_discount {
  display: flex;
  flex-direction: column;
}

.size {
  font-size: 14px;
  line-height: 20px;
}

.red {
  color: red;
}