.header {
    width: 100%;
    background-color: #ffe44d;
    padding: 12px 0;
    &__wrapper {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         gap: 80px;
    }
    &__icons {
        display: flex;
        gap: 24px;
    }
    &__icon {
        stroke: none;
        fill: black;
        cursor: pointer;
    }
    &__fav {
        position: relative;
    }
    &__like {
        stroke: 0,5px;
    }
    &__bubble {
        position: absolute;
        width: 19px;
        height: 14px;
        left: 60%;
        bottom: 50%;
        background: #01a54e;
        border: 2px solid #ffe44d;
        border-radius: 20px;
        color: white;
        font-size: 11px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}