.img {
  height: 350px;
  width: 350px;

  border-radius: 20px;
}

.edit {
  position: relative;
  left: 320px;
  bottom: 345px;
  fill: black;
}

.avatar {
  display: flex;
  flex-direction: column;
  &__input {
    width: 285px;
    box-sizing: border-box;
    padding: 7px 16px;
    border: 1px solid #FFE44D;
    border-radius: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}

.form {
  display: flex;
  gap: 8px;
}