body {
  margin: 0;
}

.card__favorite {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
}

.container {
  max-width: 1024px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.content {
  padding: 20px 0;
}